.erreurInput {
  border: 2px solid red !important;
}

.erreurMessage {
  color: red !important;
}

.image-logo {
  width: 50% !important;
  margin: 5% !important;
}

/* PHOTO DU PRODUIT SUR LA PAGE VOIR PRODUIT */
.photo-produit {
  width: 30% !important;
  margin: 5% !important;
}

.bg-header,
.bg-footer {
  background-color: #090031 !important;
}

footer {
  color: rgba(255, 255, 255, 0.5);
}

.no-style-footer {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.5);
}

.no-style-footer:hover {
  color: orangered !important;
}

/* BOUTON ORANGE */
.btn-orange {
  color: white !important;
  background: orangered !important;
  border-color: orangered !important;
}

.btn-orange:hover {
  color: white !important;
  border-color: #be3300 !important;
  background-color: #dd3f05 !important;
}

.btn-orange:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5) !important;
}

.btn-orange:active {
  background-color: #be3300 !important;
  border-color: #dd3f05 !important;
  color: white !important;
}

/* BOUTON OUTLINE ORANGE */
.btn-outline-orange {
  color: orangered !important;
  border-color: orangered !important;
}

.btn-outline-orange:hover {
  color: white !important;
  border-color: orangered !important;
  background-color: orangered !important;
}

.btn-outline-orange:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5) !important;
}

.btn-outline-orange:active {
  background-color: orangered !important;
  color: white !important;
}

.nombres {
  font-size: 4rem !important;
}

/* TOOLTIP */
.lien-mort {
  text-decoration: none !important;
  color: black !important;
}

/* INPUT DE RECHERCHE DE PRODUIT */
.recherche {
  width: 30rem !important;
}

/* BOUTON CACHÉ */
.btn-cache {
  display: none !important;
}
