.erreurInput {
  border: 2px solid red !important;
}

.erreurMessage {
  color: red !important;
}

.btn-deco:hover {
  background-color: #dc3545 !important;
  color: white;
}

.btn-modif:hover {
  background-color: #ffc104 !important;
}

.photo-produit {
  width: 40% !important;
  margin: 5% !important;
}

.input-reduit {
  padding-left: 0% !important;
}
